.text-2em {
    font-size: 2.0714285714285716em;
}

.text-1.7em {
    font-size: 1.7142857142857142em;
}

.text-1.4em {
    font-size: 1.4285714285714286em;
}
.text-1.1em {
    font-size: 1.1428571428571428em;
}

.text-1em {
    font-size: 1em;
}

.text-0.8em {
    font-size: 0.8571428571428571em;
}

.text-10p {
    font-size: 10px;
}
.text-11p {
    font-size: 11px;
}
.text-12p {
    font-size: 12px;
}
.text-13p {
    font-size: 13px;
}
.text-14p {
    font-size: 14px;
}
.text-16p {
    font-size: 16px;
}

.text-primary {
    color: #172b4d;
}
.text-secunday {
    color: #042a53;
}
.text-tertiary {
    color: #42526e;
}
.text-white {
    color: #ffffff;
}
.text-grey {
    color: #6b778c;
}

body {
    font-family: "Georgia", "times", serif;
}
