$body-color: #010101;
$font-size_body: 18px;
$tipo-body: arial, sans-serif;
$bg-header: yellow;
$ht-header:50px;
$bg-main: cyan;
$bg-footer: lightgreyey;
body {
    color: $body-color ; /* Pasar a variable */
    display: flex;
    font: $font-size_body  $tipo-body;/* pasar a dos variables: texto y tamaño de texto */
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
  }
  .wrapper {
    margin: 0 60px;
  }
 
  .header {
    background: $bg-header; /* Pasar a variable */
    height: 100px; /* Pasar a variable */
    padding: 10px 0;
    box-sizing: border-box;
  }

  .main {
    background: $bg-main; /* Pasar a variable */
    flex: 1;
  }
  .main__title {
    color: #fff;
    font-size: 2.5em;
  }
  .main__content p {
    font-size: 1.1em;
    line-height: 140%;
  }
  
  
  .footer {
    background: $bg-header; /* Pasar a variable */
    height: $ht-header; /* Pasar a variable */
    padding: 10px 0;
    box-sizing: border-box;
  }
  
  