.container{
    background-color: black;
    display: flex;
    height: 1000px;
    flex-direction: column;
    
}
header{
    background-color:bisque;
    width: 100%;
}
main{
    background-color: blue;
    width: 100%;
}
footer{
    background-color: cornflowerblue;
    width: 100%;  
    flex: 10 10 200px
}
