body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    margin: 50px;
    border: 2px solid black;
    padding-bottom: 100px;
}
.imagen{
    text-align: center;
}
.titulos{
    text-align: center;
}
.cookies{
    text-align: center;
    background: yellow;
    border: 2px solid black;
    width: 94%;
    height: 100px;
    bottom: 0px;
    position: fixed;
   }